{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mt-5 mb-3">Catalogue du produit <b>{{product.name}}</b></h3>
        <div class="card">
            
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Id:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.id }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Name:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Prix de vente:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.prixV }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Stock Initial:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.stockI }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Stock Livré:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.stockLivrer }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Stock Total:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.stockLivrer + product.stockI }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-3">
                        <b class="text-muted">Stock Final:</b>
                    </div>
                    <div class="col-5">
                        <p>{{ product.stockFinal }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4 d-flex justify-content-end">
                        <a class="btn btn-outline-info" href="{{ path('app_products_index') }}">Retour</a>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-outline-primary" href="{{ path('app_products_edit', {'id': product.id}) }}">Modifier</a>
                    </div>
                    <div class="col-4 d-flex justify-content-start">
                        {{ include('products/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
